#carousel {
	margin: auto;
	width: 600px;
	height: 400px;
	overflow: hidden;
}

ul {
	all: unset;	
	width: 3000px;
	float: left;
	font-size: 0;
}

li {
	width: 600px;
	height: 400px;
	list-style: none;
	display: inline;
}